<div id="about-page">
    <div class="content-wrapper">
        <h2 class="header">About</h2>
        <p class="about-description">
            MTG-DB is a searchable database for <a href="https://magic.wizards.com/en">Magic: the Gathering</a> cards. It was inspired by the awful experiences using MTG's own searchable DB <a href="https://gatherer.wizards.com/Pages/Default.aspx">Gatherer</a>.
        </p>
    </div>

    <div class="content-wrapper">
        <h2 class="header">Data Source</h2>
        <p class="about-description">
            Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. In metus vulputate eu scelerisque
            felis imperdiet proin fermentum leo. Adipiscing commodo elit at imperdiet. Et netus et malesuada fames.
            Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Est ante in nibh mauris cursus mattis molestie
            a. Elit duis tristique sollicitudin nibh sit amet commodo. Arcu vitae elementum curabitur vitae nunc. Integer
            malesuada nunc vel risus commodo. Id leo in vitae turpis massa. Pellentesque diam volutpat commodo sed egestas.
            Ullamcorper dignissim cras tincidunt lobortis feugiat. Sit amet consectetur adipiscing elit duis tristique
            sollicitudin nibh sit.
        </p>
    </div>
</div>