/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
}

input.primary,
button.primary{
    flex: 1;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #009688;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.25s;
    outline: 0;
}

input.primary:focus,
input.primary:hover,
button.primary:focus,
button.primary:hover{
    opacity: 0.8
}

input.secondary,
button.secondary{
    flex: 1;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid grey;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.25s;
    outline: 0
}

input.secondary:focus,
input.secondary:hover,
button.secondary:focus,
button.secondary:hover{
    border: 2px solid #009688;
    color: #009688;
}

#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #009688;
    padding: 0px 30px;
    justify-content: space-between;
}

#title{
    min-width: 200px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

#navigation-menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1
}

.navigation-button{
    color: white;
    background-color: transparent;
    height: 50px;
    border: none;
    opacity: 0.75;
    cursor: pointer;
    outline: 0;
    font-size: 1.15em;
    border-bottom: 3px solid transparent;
    flex: 1;
}

.navigation-button:focus,
.navigation-button:hover,
.selected{
    opacity: 1;
    border-bottom: 3px solid white;
}

#content-container{
    height: calc(100vh - 50px);
    width: 100vw;
    overflow: auto;
}

.header{
    font-family: 'Oswald', sans-serif;
    font-size: 2.65em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid grey
}