// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
}

#cards-page{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 30px;
    transition: 2s;
    background-color: whitesmoke;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    box-shadow: -1px 7px 14px 8px rgba(191,191,191,0.6);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 0;
    opacity: 0.8;
    cursor: pointer;

    &:hover{
        top: -10px;
        opacity: 1;
        transition: top 0.25s, opacity 0.25s;
    }
}

.card-image{
    height: 250px;
    border-radius: 10px;
    margin: 0 20px 0 0;

    &.full{
        min-height: 500px;
    }
}

.card-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;

    &.full{
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid lightgrey;
    }
}

.mana-cost-wrapper{
    display: flex;
    flex-direction: row;
}

.card-icon{
    width: 17px;

    &.full{
        width: 30px
    }

    &.medium{
        width: 25px
    }

    &.small{
        display: inline-block;
        top: 10px
    }
}

.card-info-wrapper{
    &.full{
        flex: 1
    }
}

.card-header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    border-bottom: 2px solid lightgrey;
    padding: 0 0 3px 0;
    margin: 0 0 5px 0;

    &.full{
        font-size: 2.5em;
        border-bottom: none;
    }
}

.card-description-wrapper{

}

.card-description-text{
    font-family: 'Roboto', sans-serif;
    word-break: break-word;

    &.full{
        font-size: 1.5em;
    }
}

.number-wrapper{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: gray;
}

#card-page-wrapper{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: row;
}