// Place all the styles related to the expansion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#expansions-page{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    padding: 30px;
    transition: 2s;
    background-color: whitesmoke;
}

.section-header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

.table{
    display: flex;
    flex-direction: column;
}

.table-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    border: none;

    &.header{
        background-color: rgba(0, 150, 136, 1);
        color: white;
    }

    &:not(.header):hover{
        color: rgba(0, 150, 136, 1);
        cursor: pointer;
    }

    &.second{
        background-color: white
    }
}

.table-column{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

    &.icon{
        flex: 0.5;
    }

    &.name{
        flex: 4;
    }

    &.code{
        flex: 1;
    }

    &.count{
        flex: 1;
    }

    &.released{
        flex: 1.5;
    }

    &.rarity{
        flex: 2;
    }

    &.mana-cost{
        flex: 2;
    }
}

.icon{
    width: 25px;
    height: 25px;
}

#expansion-page-wrapper{
    min-height: calc(100% - 60px);
    width: calc(100% - 60px);
    background-color: whitesmoke;
    padding: 30px;
}

#header-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

#expansion-icon{
    height: 50px;
    margin: 0 30px 0 0;
}

#expansion-title{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    padding: 0 0 3px 0;
    margin: 0 0 5px 0;
}

.expansion-card-icon{
    height: 20px;
}